@use "../general/variables" as *;


.footer {
  text-align: left;
  background: $color-primary;

  &__menu {
    display: initial;
    margin: 0;
    padding: 0;

    ul {
      display: flex;
      gap: 3rem;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 70rem;
      padding: 2rem 2rem 0;
      width: 100%;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
      }
    }
  }

  &__bottom {
    background: $color-dark;
    color: #fff;
    font-size: .875rem;
    p{
      color: #fff;
      font-family: Aleo,Arial,Helvetica,Roboto,Open Sans,sans-serif;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.5em;
      padding: 1rem 0;
    }
    a{
      color: #fff;
      font-family: Montserrat,Arial,Helvetica,Roboto,Open Sans,sans-serif;
      font-size: .875rem;
      font-weight: 400;
      text-decoration: none;
    }
    div {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 70rem;
      padding: 0 2rem;
    }
  }
}

.footer__item {
  color: #fff;
  font-family: Aleo, Arial, Helvetica, Roboto, Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 700;

  ul {
    li:first-of-type {
      margin-top: 1rem;
    }

    li {
      color: #fff;
      font-family: Aleo, Arial, Helvetica, Roboto, Open Sans, sans-serif;
      font-size: .875rem;
      font-weight: 300;
      margin-bottom: 1rem;

      a {
        background-color: initial;
        border-bottom: 1px solid #0000;
        color: #fff;
        font-weight: 300;
        transition: all .3s;
      }
    }
  }

  @include tablet {
    nav {
      align-items: center;
      display: flex;
      margin: 0 auto;
      max-width: 70rem;
      padding: .5rem 2rem;
      width: 100%;
    }
  }
}
