@use "variables" as *;

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

.hidden, .sro {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #38c8ff url("../../img/Dimitri_Ocean.svg") no-repeat center top;
  background-size: cover;
  z-index: -1000;
}

