@use "../general/variables" as *;

.parcours{
  color: $color-white;
  max-width: 70rem;
  margin: 0 auto;

  &__title {
    font-family: 'Burlesk', 'Helvetica', sans-serif;
    background-image: url("../../img/bg-title-mobile.svg");
    background-position-y: 50%;
    background-size: 100% 83%;
    background-repeat: no-repeat;
    margin: 0 auto 2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    width: max-content;
  }
}