@use "../general/variables" as *;

.page__landing {
  background: #003173 url("../../img/bg-sky.svg") 50% 50%/cover;
  position: relative;


}

.landings {
  color: #fff;
  overflow: hidden;
  padding-top: 5rem;
  text-align: left;
  min-height: 80vh;

  &__title {
    font-family: "Pacifico", Helvetica, sans-serif;
    color: $color-white;
    font-size: clamp(3rem, 8vw, 5rem);
    padding: 4rem 1.5rem .5rem;
    font-weight: 900;
    line-height: .8;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: fit-content;

    span {
      font-family: "Aleo", serif;
      display: block;
      font-size: 0.35em;
      font-weight: 400;
      color: rgba($color-white, 0.9);
      margin-top: 0.5rem;
      text-align: right;
    }
  }
}

.landing__boat {
  width: clamp(15rem, 60vw, 35rem);

  svg {
    width: 115%;
    height: auto;

  }
}