@use "../general/variables" as *;

.page__landing {
  background: #003173 url("../../img/bg-sky.svg") 50% / cover;
  position: relative;
  min-height: 80dvh;
  display: flex;
  flex-direction: column;

}
.landings {
  color: #fff;
  padding-top: 5rem;
  text-align: left;
  flex:1;


  &__title {
    font-family: "Pacifico", Helvetica, sans-serif;
    color: $color-white;
    font-size: clamp(3rem, 8vw, 8rem);
    margin: 0 auto;
    z-index: 1;

    span {
      font-family: "Aleo", serif;
      display: block;
      font-size: 0.33em;
      font-weight: 400;
      color: $color-white;
      text-align: right;
    }
  }
}

.landing__boat {
  width: clamp(20rem, 80vw, 30rem);
  position: absolute;
  bottom: 0;

  @include tablet{
    left: 15%;
  }

  svg {
    display: block;
    max-width: 100%;
    height: auto;

    animation: float 4s ease-in-out infinite;
    transform-origin: bottom center;
  }
}
@keyframes float {

  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {

    transform: translateY(-15px) rotate(1.5deg);
  }
}